<html>
	<head>
		<meta charset="utf-8">
		<title>选座看电影</title>
		<% include component/css.ejs %>
	</head>
	<body>
		<% if(selectPageData) {%>
			<div>
				<header class='cinema-name' data-id="<%=selectPageData._id %>"><%= selectPageData.cinemaName%> </header>
				<section class="movie">
						<div class="movie-details">
								<div class="movie-name">
										<div class="movie-name-title">片名：<%= selectPageData.movieName%></div>
										<div class="movie-price">¥：<%= selectPageData.moviePrice%></div>
										<div class="movie-address">地址：<%= selectPageData.cinemaAddress%></div>
								</div>
								<div class="movie-time">
										<span>放映时间：</span>
										<select name="" id="play-time">
											<% for(var m=0;m<selectPageData.playTime.length;m++) {%>
												<option value=""><%= selectPageData.playTime[m]%></option>
											<%}%>
										</select>
								</div>
								<hr>
								<div class="movie-seat">
										<div class="movie-seat-screem text-center "><span>放映屏幕</span></div>
										<div class="movie-seat-select text-center">
											<table class="movie-seat-select-table">
												<% for(var i= 0;i<selectPageData.seat.seatRow;i++){%>
													<tr>
														<td class="ticket-table-order"><%= i+1%></td>
														<% for(var j=0;j<selectPageData.seat.seatCol;j++) {%>
															<td class="blue text-center ">
																<button class="btn btn-sm">E</button>
															</td>
														<%}%>
													</tr>
												<%}%>
											</table>
										</div>
										<hr>
										<div class="movie-seat-status text-center">
											<span class="movie-seat-status-ordered"></span> <b>不能选</b>
											<span class="movie-seat-status-ordering"></span> <b>已经选中</b>
											<span class="movie-seat-empty"></span> <b>可选</b>
										</div>
								</div>
						</div>
				</section>
				<footer class="movie-notice">
						<span>活动公告：</span>  <marquee class="text-danger"><%=selectPageData. notice%></marquee>
						<p class="text-center ticket-mt-md"><button class="btn btn-primary"  id="ticket-submit">购票支付</button></p> 
				</footer>
			</div>
		<%} else {%>
			<h4 class="text-danger text-center ticket-canceled-data">此链接已经失效</h4>
		<%}%>
		<!-- 模态框 -->
		<div class="modal fade show-link"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div>取票二维码</div>
          </div>
          <div class="modal-body">
						<div id='get-ticket-code' class='text-center'></div>
						<p class="ticket-data">

						</p>
						<span class="text-danger">提示：务必保存好您的取票码</span>
          </div>
        </div>
      </div>
		</div>

		<!-- 已经定过后的座位 -->
		<% if(selectPageData) {%>
			<div class="hide" id="ticket-cinema-empty-seat"><%= JSON.stringify(selectPageData.emptySeat)%></div>
			<div class="hide" id="ticket-data-seat"><%= JSON.stringify(selectPageData.seatOrdered)%></div>
		<%}%>
		<% include  component/js.ejs%>
		<script>
			// console.time('time1')
			var emptySeat    = JSON.parse( $("#ticket-cinema-empty-seat").html());//为啥json.stringify 又json.parse 
			var seatOrdered  = JSON.parse( $("#ticket-data-seat").html());//为啥json.stringify 又json.parse 
			var movieName    = $('.movie-name-title').html();
			var usermovieArr = [];

			//遍历后台设置的空座位数组数据，追加 禁用class
			$(".movie-seat-select-table  tr").each(function(index,element){
       var empty  = $(element).children();//$(element)代表每行tr，后面的children代表tr下面的td，emptyå即这一行所有td的集合
       for(var r=0;r<empty.length;r++){
					var col= empty.eq(r).index();// 没有+1
					var row= empty.eq(r).parent().index()+1;// 
					var page = row +'排'+col+'列';
					for(var t=0;t<emptySeat.length;t++) {
						if(page == emptySeat[t]) {
							console.log(emptySeat[t])
							empty.eq(r).children('button').addClass('empty-disable disabled')
						}
					}
       }
			 });
			 
			//遍历数组数据，追加已经选过座位的序号 禁用class
			$(".movie-seat-select-table  tr").each(function(index,element){
       var a = $(element).children();//$(element)代表每行tr，后面的children代表tr下面的td，a即这一行所有td的集合
       for(var i=0;i<a.length;i++){
          var col= a.eq(i).index();// 
					var row= a.eq(i).parent().index()+1;// 
					var page = row +'排'+col+'列';
					for(var j=0;j<seatOrdered.length;j++) {
						if(page == seatOrdered[j]) {
							a.eq(i).children('button').addClass('ticket-disable disabled')
						}
					}
       }
   		});
			// console.timeEnd('time1')
			$('.movie-seat-select-table').on('click','td button',function(){
				$('#get-ticket-code').html('')
				col = $(this).parent().index();
				row = $(this).parents('tr').index()+1;
				$(this).toggleClass('ticket-disable')
				if($(this).hasClass('ticket-disable')) {
					usermovieArr.push(row+'排'+col+'列')
					console.log(usermovieArr)
				}
				if(!$(this).hasClass('ticket-disable')) {
					usermovieArr.remove(row+'排'+col+'列')
					console.log(usermovieArr)
					
				}
				// console.log(usermovieArr)
			})
			
			//购票提交
			$('#ticket-submit').click(function(){
				if(usermovieArr.length>0){
					console.log(usermovieArr)
					usermovieArr = usermovieArr.toString();
					$.post('/seatHandle',{
						'cinemaId':$('.cinema-name').attr('data-id'),
						'cinemaName': $('.cinema-name').html(),
						'movieName':$('.movie-name-title').html(),
						'moviePrice':$('.movie-price').html(),
						'cinemaAddress':$('.movie-address').html(),
						'playTime': $("#play-time option:selected").text(),
						'orderSeatArr':usermovieArr,
					},function(result){
						var tipSeatArr =[];
						if(result.seatOredered){
							if(result.currentSeat.length>=2) {
								for(var k=0;k<result.currentSeat.length;k++){
									tipSeatArr.push(result.currentSeat[k])
								}
							}else {
								alert('此宝座已名花有主，请另寻他座')
							}
							alert(tipSeatArr.toString()+'有人家了，请换雅座')
						}
						if(result.success) {
							var data = result.success[0];
							var cinemaName = data.cinemaName
							var movieName = data.movieName
							var moviePrice = data.moviePrice
							var cinemaAddress = data.cinemaAddress
							var playTime = data.playTime
							var seat = (data.seat).toString()
							var ticketDataString = '注：电影院：'+ cinemaName+ ';'+movieName+'; 时间：'+ playTime+ '; 座位：'+
							seat+';'+ cinemaAddress;
							$('.show-link').modal('show');
							$('.ticket-data').html(ticketDataString)
							$('#get-ticket-code').qrcode(common.decodeChinese(ticketDataString))
						}
						if(result.err) {
							alert('选座失败，重新选座')
						}
					})
				}else {
					alert('请先选票')
				}

			})

			$('.show-link').on('hidden.bs.modal', function (e) {
				window.location.reload();
			})
		</script>
	</body>
</html>